* {
  box-sizing: border-box;
}

.container {
  width: 460px;
  height: 602px;
  border: 1px solid grey;
  /* position: absolute; */
}

.numberButton {
  position: absolute;
  top: 216px;
  width: 330px;
}

.actionButtons {
  position: absolute;
  top: 124px;
  left: 330px;
  display: flex;
  flex-direction: column;
}
